h1 {
  color: #ccd6f6;
  margin-bottom: 20px;
  display: block;
  font-size: clamp(10px, 8vw, 40px);
  letter-spacing: 5px;
  font-weight: 600;
  font-family: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

.carousel-wrapper{
  width: 700px;
  height: 400px;
  justify-content: center;
  margin-top: 0px;
  flex-grow: 1;
  margin-left: 200px;
}
.legend{
  color: #ffffff;
  text-decoration: none;
}

img{
  margin: -7px -30px -35px -30px;
}
@media (max-width: 800px) {
  .carousel-wrapper{
    width: 350px;
    height: 200px;
    margin-left: 0px;
    margin-top: 40px;
  }
}