.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;           
  }
  
  .home .title {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  

 .home .title .firstLine{
    color: #64ffda;
    font-size: 16px;
    /* font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; */
    font-weight: normal;
    margin-left: 4px;
  }
  .home .title .secondLine{
    color: #ccd6f6;
    font-size: clamp(50px, 8vw, 80px);
    font-weight: 600;
    font-family: sans-serif;
  }
  .home .title .thirdLine{
    color: #939ab1;
    font-size: clamp(30px, 6vw, 60px);
    font-family: sans-serif;
    margin-bottom: 25px;
  }
  
  .home .title button {
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 1rem;
    font-size: 16px;
    /* font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; */
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  .home .title button:hover{
    background-color: rgba(100,255,218,0.1);
  }
  .btn{
    margin-left: 1rem;
  }
  
  .home .person {
    width: 100%;
    margin-top: 20px;
  }
  
  .home .person img {
    width: 80%;
  }
  
  @media (min-width: 800px) {
    .home {
      flex-direction: row;
      justify-content: space-between;
    }
    .home .title,
    .home .person {
      text-align: left;
      margin-left: 50px;
      font-size: 25px;
}
    .home .person img {
      width: 100%;
    }
  }  

  @media (max-width: 800px) {
    .home .title {
      line-height: 65px;
    }
  }