.header{
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
}

.link{
  margin-top: 18px;
}
.link p{
  padding: 0 1rem;
  color: #ccd6f6;
  text-decoration: none;
  display: inline-block;
}
.logo {
  font-family: 'Amillina', sans-serif;
  color: #64ffda;
}
.link span {
  color: #64ffda;
  padding: 10px;
  font-weight: bolder;
}

@media (max-width: 800px) {
  .link p{
    padding: 0 1rem;
    display: block;
    text-decoration: none;
  }
}