* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "FleurDeLeah-Regular";
  src: url("/public/FleurDeLeah-Regular.ttf") format("woff2"),
    url("/public/OFL.txt") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

main {
  height: calc(100vh - 80px);
}

main,
section {
  max-width: 1080px;
  padding: 40px 12% !important;
  float: none !important;
}
