/* src/styles/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* src/index.css
@import "./styles/tailwind.css"; */

* {
  padding: 0;
  margin: 0;
}

/* @font-face {
  font-family: "FleurDeLeah-Regular";
  src: url("/public/FleurDeLeah-Regular.ttf") format("woff2"),
    url("/public/OFL.txt") format("woff");
  font-weight: normal;
  font-style: normal;
} */

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  font-family: sans-serif;
}

section {
  max-width: 1440px;
  padding: 8%;
  float: none !important;
  margin: 0 auto !important;
}
